# Compiled output
out/
*.class

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse/JDT
.settings/
.classpath
.project

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# LSP/jdtls cache
.cache/

# Log files
*.log

# macOS
.DS_Store

# Linux
*~

# Vim
*.swp
*.swo
*~
